.f-a-q-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.f-a-q-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.f-a-q-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.f-a-q-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.f-a-q-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.f-a-q-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.f-a-q-link2 {
  text-decoration: none;
}
.f-a-q-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.f-a-q-icon {
  width: 36px;
  height: 36px;
}
.f-a-q-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.f-a-q-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.f-a-q-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.f-a-q-icon02 {
  width: 24px;
  height: 24px;
}
.f-a-q-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.f-a-q-link3 {
  margin-bottom: var(--dl-space-space-unit);
}
.f-a-q-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.f-a-q-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.f-a-q-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.f-a-q-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.f-a-q-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.f-a-q-hero {
  flex: 1;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #f1f1f1;
}
.f-a-q-features {
  width: 100%;
  height: 287px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.f-a-q-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.f-a-q-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.f-a-q-text01 {
  text-align: center;
}
.f-a-q-max-content-width-container {
  width: 100%;
  height: 525px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #D9D9D9;
}
.f-a-q-content-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.f-a-q-about-1 {
  width: 605px;
  height: 445px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.f-a-q-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.f-a-q-icon04 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.f-a-q-text02 {
  text-align: left;
}
.f-a-q-text03 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.f-a-q-text05 {
  font-family: Playfair Display;
}
.f-a-q-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.f-a-q-icon06 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.f-a-q-text07 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: left;
}
.f-a-q-text08 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.f-a-q-text10 {
  font-size: 16px;
  font-family: Playfair Display;
}
.f-a-q-container5 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.f-a-q-icon08 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.f-a-q-text12 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.f-a-q-text15 {
  font-size: 16px;
}
.f-a-q-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.f-a-q-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.f-a-q-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.f-a-q-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.f-a-q-subscribe {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.f-a-q-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.f-a-q-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.f-a-q-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.f-a-q-social-links {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.f-a-q-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media(max-width: 991px) {
  .f-a-q-heading {
    text-align: center;
  }
  .f-a-q-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .f-a-q-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .f-a-q-navbar {
    position: relative;
  }
  .f-a-q-links-container {
    display: none;
  }
  .f-a-q-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .f-a-q-icon {
    fill: var(--dl-color-gray-white);
  }
  .f-a-q-heading-container {
    width: 100%;
  }
  .f-a-q-content-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .f-a-q-about-1 {
    width: 65%;
  }
  .f-a-q-subscribe {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .f-a-q-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .f-a-q-about-1 {
    width: 100%;
  }
}
